<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JS Example</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-row"></tr>
        <tr class="table-row"></tr>
        <tr class="table-row"></tr>
    </tbody>
</table>

<script src="/static/js/js_example.js"></script>
</body>
</html>